In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib
import requests

In [2]:
s1 = pd.Series(['a', 'b'])

In [3]:
s2 = pd.Series(['c', 'd'])

## CONCAT

In [4]:
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object

In [5]:
pd.concat([s1, s2], ignore_index=True)

0    a
1    b
2    c
3    d
dtype: object

In [6]:
pd.concat([s1, s2], keys=['s1', 's2'])

s1  0    a
    1    b
s2  0    c
    1    d
dtype: object

### dataframe

In [7]:
df = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})

In [8]:
df

  key   A
0  K0  A0
1  K1  A1
2  K2  A2
3  K3  A3
4  K4  A4
5  K5  A5

In [9]:
other = pd.DataFrame({'key': ['K0', 'K1', 'K2'],'B': ['B0', 'B1', 'B2']})

In [10]:
other.head()

  key   B
0  K0  B0
1  K1  B1
2  K2  B2

In [11]:
df.join(other, lsuffix='_caller', rsuffix='_other')

  key_caller   A key_other    B
0         K0  A0        K0   B0
1         K1  A1        K1   B1
2         K2  A2        K2   B2
3         K3  A3       NaN  NaN
4         K4  A4       NaN  NaN
5         K5  A5       NaN  NaN

In [12]:
df.set_index('key')

      A
key
K0   A0
K1   A1
K2   A2
K3   A3
K4   A4
K5   A5

In [13]:
other.set_index('key')

      B
key
K0   B0
K1   B1
K2   B2

In [14]:
df.set_index('key').join(other.set_index('key'))

      A    B
key
K0   A0   B0
K1   A1   B1
K2   A2   B2
K3   A3  NaN
K4   A4  NaN
K5   A5  NaN

In [18]:
df.join(other.set_index('key'), on='key')

  key   A    B
0  K0  A0   B0
1  K1  A1   B1
2  K2  A2   B2
3  K3  A3  NaN
4  K4  A4  NaN
5  K5  A5  NaN